<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>iGudoo</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="http://a.static.amazeui.org/assets/i/favicon.png">
  <link rel="stylesheet" href="http://a.static.amazeui.org/assets/2.x/css/amazeui.min.css">
  <link rel="stylesheet" href="http://a.static.amazeui.org/assets/css/app.css">
  <script src="http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
  <script src="http://cdn.amazeui.org/amazeui/2.1.0-beta1/js/amazeui.min.js"></script>
</head>
<body>
<!-- Header -->
<header data-am-widget="header" class="am-header am-header-default">
  <h1 class="am-header-title">
    <a href="#title-link">I’ 咕嘟</a>
  </h1>
</header>

