

<!-- Menu -->
<nav data-am-widget="menu" class="am-menu  am-menu-offcanvas1" data-am-menu-offcanvas>
  <a href="javascript: void(0)" class="am-menu-toggle">
    <i class="am-menu-toggle-icon am-icon-bars"></i>
  </a>
  <div class="am-offcanvas">
    <div class="am-offcanvas-bar">
      <ul class="am-menu-nav sm-block-grid-1">
        <!--li class="am-parent">
          <a href="##">最新故事</a>
          <ul class="am-menu-sub am-collapse  sm-block-grid-2 ">
            <li class="">
              <a href="##">新闻</a>
            </li>
            <li class="">
              <a href="##">文章</a>
            </li>
            <li class="">
              <a href="##">故事</a>
            </li>
        
            <li class="am-menu-nav-channel">
              <a href="##" title="收藏">进入收藏 &raquo;</a>
            </li>
          </ul>
        </li>
        <li class="am-parent">
          <a href="##">书屋</a>
          <ul class="am-menu-sub am-collapse  sm-block-grid-3 ">
            <li class="">
              <a href="##">体胖还需勤跑步</a>
            </li>
            <li class="">
              <a href="##">人丑就该多读书</a>
            </li>
           
          </ul>
        </li>
        <li class="am-parent">
          <a href="#c3">故事分类</a>
          <ul class="am-menu-sub am-collapse am-avg-sm-4">
            <li class="">
              <a href="##">评论家</a>
            </li>
            <li class="">
              <a href="##">文艺范</a>
            </li>
            <li class="">
              <a href="##">技术控</a>
            </li>
            <li class="">
              <a href="##">最新</a>
            </li>
            <li class="">
              <a href="##">最热</a>
            </li>
            <li class="am-menu-nav-channel">
              <a href="#c3" title="还有">更多 &raquo;</a>
            </li>
          </ul>
        </li-->
        <li class="am-parent">
    			<a href="#c3">体胖还需勤跑步</a>
    				<ul class="am-menu-sub am-collapse  sm-block-grid-2">
    					<li class="">
              	<a href="##">别点了,你点不动的！</a>
            	</li>
            </ul>
        </li>
        <li class="am-parent">
    			<a href="#c3">人丑就该多读书</a>
    				<ul class="am-menu-sub am-collapse  sm-block-grid-2">
    					<li class="">
              	<a href="##">别点了,你点不动的！</a>
            	</li>
            </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

